button, h1, h3 {
    color: #fff;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

button {
    border: none;
    border-radius: 5px;
    background-color: #00FF7F;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

button:hover, button:focus {
    background-color: blue;
    color: #fff;
    box-shadow: 0 0 10em rgba(255, 255, 255, 0.2) inset;
}

button:active {
    background-color: blue;
    color: #fff;
    box-shadow: 0 0 10em rgba(0, 0, 0, 0.1) inset;
}

img {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}